<section class="apartment">
    <div class="container">
        <h2 class="apartment__title">Choose your apartment</h2>
        <ul class="apartment-list">
            <li class="apartment-list__item">
                <img src="./images/houseplan1.png" alt="House plan" class="apartment-list__img">
                <h3 class="apartment-list-item__title">Type 1</h3>
                <p class="apartment__text">total area 23 meters</p>
            </li>
            <li class="apartment-list__item">
                <img src="./images/houseplan2.png" alt="House plan" class="apartment-list__img">
                <h3 class="apartment-list-item__title">Type 2</h3>
                <p class="apartment__text">total area 27 meters</p>
            </li>
            <li class="apartment-list__item">
                <img src="./images/houseplan3.png" alt="House plan" class="apartment-list__img">
                <h3 class="apartment-list-item__title">Type 3</h3>
                <p class="apartment__text">total area 31 meters</p>
            </li>
        </ul>
        <button type="button" class="apartment-btn">Download catalog</button>
    </div>
</section>