<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <nav class="footer__navigation">
                <h2 class="footer__title">Navigation</h2>
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a class="nav-list__link">Home</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link">About</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link">Apartments</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link">Infrastructure</a>
                    </li>
                    <li class="nav-list__item">
                        <a class="nav-list__link">Gallery</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="contacts">
            <h2 class="contacts__title">Contacts</h2>
            <ul class="contacts-list">
                <li class="contacts-list__item">
                    <a href="tel:+4065550120" class="contacts-list__link">(406) 555-0120</a>
                </li>
                <li class="contacts-list__item">
                    <a href="#" class="contacts-list__link">ul. Chodkiewicza Karola 111, Chorzów </a>
                </li>
                <li class="contacts-list__item">
                    <a href="mailto:deanna.curtis@example.com" class="contacts-list__link">deanna.curtis@example.com</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="icons">
        <ul class="icons-list">
            <li class="icons-list__item">
                <svg class="icons-list__icon" width="24" height="24">
                    <use href="./icons/symbol-defs.svg#icon-youtube"></use>
                </svg>
            </li>
            <li class="icons-list__item">
                <svg class="icons-list__icon" width="24" height="24">
                    <use href="./icons/symbol-defs.svg#icon-instagram"></use>
                </svg>
            </li>
            <li class="icons-list__item">
                <svg class="icons-list__icon" width="24" height="24">
                    <use href="./icons/symbol-defs.svg#icon-twitter"></use>
                </svg>
            </li>
            <li class="icons-list__item">
                <svg class="icons-list__icon" width="24" height="24">
                    <use href="./icons/symbol-defs.svg#icon-facebook"></use>
                </svg>
            </li>
        </ul>
    </div>
    <p class="terms">By using this website, you agree to the <span class="service-terms">Terms of Service</span> and
        <span class="privacy-policy">Privacy Policy</span>
    </p>
    </div>
</footer>