<section class="philosophy">
    <div class="container">
        <ul class="philosophy-list">
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-bag"></use>
                </svg>
                <p class="philosophy-list__text">15 years of experience</p>
            </li>
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-analytic"></use>
                </svg>
                <p class="philosophy-list__text">30 thousand happy residents</p>
            </li>
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-home"></use>
                </svg>
                <p class="philosophy-list__text">22 houses built</p>
            </li>
            <li class="philosophy-list__item">
                <svg class="philosophy-list__icon" width="32" height="32">
                    <use href="./icons/symbol-defs.svg#icon-place"></use>
                </svg>
                <p class="philosophy-list__text">9 awards</p>
            </li>
        </ul>
        <div class="philosophy-com">
            <h2 class="philosophy-com__title">Philosophy of our company</h2>
            <p class="philosophy-com__text">Residential complex “Nice view” is an island of tranquility, security and
                comfort.
                In our project, we created the opportunity to lead a measured life in the very center of the city.</p>
        </div>
    </div>
</section>